{% extends 'layouts/app.html' %} {% load static %} {% block title %}BRO
Clinic - Articles{% endblock %} {% block content %}
<main>
  <section
    class="herox d-flex flex-column align-items-center justify-content-center"
  >
    <div class="text-center" style="margin-bottom: 300px">
      <h1 class="h1 text-white fw-medium fst-italic"></h1>
      <h2 class="display-3 text-white fw-bold">ARTICLES</h2>
      <a href="#skills" class="btn btn-lg fs-6 fw-medium mt-5 btn-primary p-3"
        >START</a
      >
    </div>
  </section>

  <section class="container py-5" id="skills" style="font-size: 15px">
    <center>
      <div class="container99" style="width: 600px; margin-top: 20px">
        <h2>
          How to take care of your physical and emotional wellness? How to enjoy
          a healthier, happier life?
        </h2>

        <img
          alt="#"
          src="{% static 'img/section-img.png' %}"
          style="width: 60px; margin-top: 30px"
        />

        <p style="margin-top: 30px">
          Living a healthy lifestyle and engaging in regular physical activity
          are essential components of overall well-being. Incorporating exercise
          into your daily routine can have numerous benefits for both physical
          and mental health. Regular physical activity helps to maintain a
          healthy weight, strengthen muscles and bones, improve cardiovascular
          health, and reduce the risk of chronic diseases such as heart disease,
          diabetes, and certain cancers. Additionally, exercise releases
          endorphins, which can boost mood, reduce stress, and improve mental
          clarity and cognitive function.
        </p>

        <p style="margin-top: 30px">
          In addition to exercise, maintaining a balanced diet rich in fruits,
          vegetables, whole grains, lean proteins, and healthy fats is crucial
          for supporting overall health and providing the body with the
          nutrients it needs to function optimally. Staying hydrated, getting an
          adequate amount of sleep each night, managing stress, and avoiding
          harmful habits such as smoking and excessive alcohol consumption are
          also important aspects of a healthy lifestyle.
        </p>

        <p style="margin-top: 30px">
          By prioritizing regular physical activity, nourishing your body with
          nutritious foods, and taking care of your mental and emotional
          well-being, you can enjoy a healthier, happier life.
        </p>

        <hr class="my-5" />

        <h2 style="margin-top: 50px">
          Now, let's explore each of the medical specialties in relation to
          promoting and maintaining a healthy lifestyle through exercise:
        </h2>
        <ul style="margin-top: 30px">
          <li style="margin-top: 30px">
            <b>Cardiology:</b> Cardiology focuses on the health and function of
            the heart and circulatory system. Regular physical activity is
            essential for maintaining cardiovascular health, as it helps to
            strengthen the heart muscle, lower blood pressure, improve
            cholesterol levels, and reduce the risk of heart disease and stroke.
            Cardiologists often emphasize the importance of exercise as part of
            a heart-healthy lifestyle and may recommend specific types of
            physical activity tailored to individual patients' needs and medical
            conditions.
          </li>
          <li style="margin-top: 30px">
            <b>Pulmonary:</b> Pulmonology addresses conditions affecting the
            respiratory system, including the lungs and airways. Exercise is
            beneficial for pulmonary health, as it can improve lung function,
            increase lung capacity, and enhance overall respiratory efficiency.
            Pulmonologists may recommend pulmonary rehabilitation programs for
            patients with chronic respiratory conditions such as asthma, COPD,
            or pulmonary fibrosis, which incorporate supervised exercise
            training to help improve symptoms and quality of life.
          </li>
          <li style="margin-top: 30px">
            <b>Neurology:</b> Neurology focuses on disorders of the nervous
            system, including the brain, spinal cord, nerves, and muscles.
            Regular exercise has been shown to have numerous benefits for brain
            health and cognitive function, including reducing the risk of
            age-related cognitive decline, improving memory and attention, and
            enhancing mood and overall mental well-being. Neurologists may
            encourage patients to engage in physical activity as part of a
            comprehensive approach to managing neurological conditions such as
            Alzheimer's disease, Parkinson's disease, or multiple sclerosis.
          </li>
          <li style="margin-top: 30px">
            <b>Orthopedics:</b> Orthopedic specialists address disorders of the
            musculoskeletal system, including bones, joints, muscles, ligaments,
            and tendons. Exercise plays a crucial role in maintaining
            musculoskeletal health, as it helps to strengthen muscles, improve
            flexibility and range of motion, and support joint function and
            stability. Orthopedic surgeons may recommend specific exercises or
            physical therapy programs to help patients recover from injuries,
            manage chronic musculoskeletal conditions, or prepare for orthopedic
            surgery.
          </li>
          <li style="margin-top: 30px">
            <b>Dental Surgery:</b> While dental surgery primarily focuses on
            surgical procedures related to the teeth, gums, and jawbone,
            maintaining good oral health is an important aspect of overall
            health and well-being. Regular exercise and a healthy lifestyle can
            contribute to oral health by reducing the risk of gum disease, tooth
            decay, and other dental problems. Additionally, some studies suggest
            that exercise may have protective effects against certain oral
            health issues, such as periodontal disease.
          </li>
          <li style="margin-top: 30px">
            <b>Laboratory:</b> Laboratories play a crucial role in promoting and
            maintaining health by providing diagnostic testing and monitoring
            services. Exercise physiology laboratories, for example, may conduct
            assessments to evaluate cardiovascular fitness, pulmonary function,
            and metabolic health, helping individuals track their progress and
            make informed decisions about their exercise and lifestyle habits.
            Clinical laboratories may also perform tests to assess biomarkers
            related to heart health, lung function, neurological function, and
            other aspects of overall health and fitness. These laboratory tests
            can provide valuable information for healthcare providers and
            patients alike, guiding personalized treatment plans and lifestyle
            recommendations to support optimal health and well-being.
          </li>
        </ul>

        <hr class="my-5" />
        <h2 style="margin: 30px">
          Here are the cardiovascular mortality statistics for Germany over the
          last 5 years:
        </h2>

        <div class="progress mb-3" style="margin-top: 30px">
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: 50%"
            aria-valuenow="15"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            style="width: 30%"
            aria-valuenow="30"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          <div
            class="progress-bar bg-danger"
            role="progressbar"
            style="width: 20%"
            aria-valuenow="20"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>

        <hr class="my-5" />

        <div class="card">
          <h5 class="card-header">GERMANY</h5>
          <ul class="list-unstyled card-body mb-0 pb-0">
            <li class="row mb-3">
              <div class="col-5">
                Premature Mortality due to Cardiovascular Disease: 4.0%
              </div>
              <div class="col-7 align-self-center">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 5%"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
            <li class="row mb-3">
              <div class="col-5">
                Proportion of CVD Mortality Attributable to Tobacco: 4.6%
              </div>
              <div class="col-7 align-self-center">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 5.6%"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
            <li class="row mb-3">
              <div class="col-5">
                Raised Blood Pressure (SBP ≥140 or DBP ≥90): 44,2%
              </div>
              <div class="col-7 align-self-center">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 44.2%"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
            <li class="row mb-3">
              <div class="col-5">
                Percentage of adults who overweight (BMI ≥25 kg/m²): 48,5%
              </div>
              <div class="col-7 align-self-center">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 48.5%"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
            <li class="row mb-3">
              <div class="col-5">
                Prevalence of diabetes in adults (ages 20-79): 7.2%
              </div>
              <div class="col-7 align-self-center">
                <div class="progress" style="height: 5px">
                  <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    style="width: 7.2%"
                    aria-valuenow="15"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <p style="margin-top: 30px">
          Cardiovascular mortality statistics in Germany over the last 5 years:
          Premature Mortality due to Cardiovascular Disease (CVD) affects both
          males and females, with a combined percentage of 4.0% of deaths
          occurring between ages 30 and 70. Approximately 4.6% of premature CVD
          mortality is attributable to tobacco use. Physical inactivity remains
          a concern, with 40.2% of males and 36.9% of females being
          insufficiently active.
        </p>
        <p>
          Raised blood pressure affects 24.1% of males and 20.1% of females.
          Nearly half of the adult population (both males and females) is
          overweight, with percentages around 49.2% and 48.5%, respectively.
          Raised total cholesterol levels are prevalent, affecting 38.9% of
          males and 32.8% of females.
        </p>
        <p>
          The prevalence of diabetes in adults (ages 20-79) stands at 7.2%.
          These statistics underscore the importance of public health efforts to
          address risk factors and promote heart health in Germany. 🇩🇪❤️
        </p>

        <hr class="my-5" />
      </div>
    </center>
  </section>
</main>
{% endblock %}
