{% extends 'layouts/app.html' %} {% load static %} {% block title %}BRO
Clinic - Articles{% endblock %} {% block content %}
<main>

  <style>
    .yandexmap1{
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .titleYandex{
      text-align: center;
    }
  </style>

  <section
    class="herox d-flex flex-column align-items-center justify-content-center"
  >
    <div class="text-center" style="margin-bottom: 300px">
      <h1 class="h1 text-white fw-medium fst-italic"></h1>
      <h2 class="display-3 text-white fw-bold">ARTICLES</h2>
      <a href="#skills" class="btn btn-lg fs-6 fw-medium mt-5 btn-primary p-3"
        >START</a
      >
    </div>
  </section>

  <section class="container py-5" id="skills" style="font-size: 15px">
    <center>
      <div class="container99" style="width: 600px; margin-top: 20px">
        <h2>
          How to take care of your physical and emotional wellness? How to enjoy
          a healthier, happier life?
        </h2>

        <img
          alt="#"
          src="{% static 'img/section-img.png' %}"
          style="width: 60px; margin-top: 30px"
        />

        <p style="margin-top: 30px">
          A healthy lifestyle and regular exercise are key to feeling great! They help keep you in shape, strengthen your heart, reduce the risk of diseases, and of course, release endorphins that boost your mood and banish stress.
        </p>

        <p style="margin-top: 30px">
          Along with exercise, eating a balanced diet full of fruits, vegetables, whole grains, lean proteins, and healthy fats is essential for overall health. It provides your body with the nutrients it needs to perform at its best. Staying hydrated, getting enough sleep, managing stress, and avoiding harmful habits like smoking and excessive drinking are also key to living a healthy lifestyle.
        </p>

        <p style="margin-top: 30px">
          By making regular exercise a priority, fueling your body with nutritious foods, and looking after your mental and emotional health, you can enjoy a healthier, happier life.
        </p>

        <hr class="my-5" />

        <h2 style="margin-top: 50px">
          Now, let's explore each of the medical specialties in relation to
          promoting and maintaining a healthy lifestyle through exercise:
        </h2>
        <ul style="margin-top: 30px">
          <li style="margin-top: 30px">
            <b>Cardiology:</b> Cardiology is all about the heart and circulatory system. Regular exercise is key to keeping your heart healthy, as it strengthens the heart muscle, lowers blood pressure, improves cholesterol levels, and reduces the risk of heart disease and stroke. Cardiologists stress the importance of physical activity for heart health and may suggest specific exercises based on each patient’s needs and health conditions.
          </li>
          <li style="margin-top: 30px">
            <b>Pulmonary:</b> Pulmonology deals with lung and airway conditions. Exercise helps improve lung function, increase capacity, and make breathing easier. Doctors may recommend special exercises for people with chronic lung diseases like asthma or COPD to ease symptoms and improve quality of life.
          </li>
          <li style="margin-top: 30px">
            <b>Neurology:</b> Neurology focuses on disorders of the nervous system, including the brain, spinal cord, nerves, and muscles. Exercise offers many benefits for brain health, such as reducing the risk of cognitive decline, improving memory and attention, and boosting mood. Neurologists may recommend physical activity to help manage conditions like Alzheimer's, Parkinson's, or multiple sclerosis.
          </li>
          <li style="margin-top: 30px">
            <b>Orthopedics:</b> Orthopedic specialists focus on disorders of the musculoskeletal system, including bones, joints, muscles, ligaments, and tendons. Exercise is key to maintaining musculoskeletal health, as it strengthens muscles, improves flexibility, and supports joint function. Orthopedic surgeons may recommend specific exercises or physical therapy to help patients recover from injuries, manage chronic conditions, or prepare for surgery.
          </li>
          <li style="margin-top: 30px">
            <b>Dental Surgery:</b> Dental surgery focuses on procedures related to the teeth, gums, and jawbone, but maintaining good oral health is essential for overall well-being. Regular exercise and a healthy lifestyle can help reduce the risk of gum disease, tooth decay, and other dental problems. Some studies also suggest that exercise may offer protection against issues like periodontal disease.
          </li>
          <li style="margin-top: 30px">
            <b>Laboratory:</b> Laboratories play an important role in promoting health by providing diagnostic tests and monitoring services. Exercise physiology labs, for example, assess cardiovascular fitness, lung function, and metabolic health, helping people track their progress and make informed decisions about exercise and lifestyle. Clinical labs also test biomarkers related to heart, lung, and neurological health, offering valuable insights for healthcare providers and patients. This information helps create personalized treatment plans and lifestyle advice to support overall well-being.
          </li>
        </ul>

        
        
      </div>
    </center>
    
    <div class="line"><hr></div>

    
    <div class="titleYandex">
      <h1>WE PLACED THERE!</h1>
    </div>
    
    <div class="yandexmap1">
      
      <div class= "yandexmap">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A87221674eda978fbd0529ef460b3c73ed9c6a1e7732cd196e8839ab057cc604e&amp;source=constructor" width="600" height="300" frameborder="0"></iframe>
      </div>
    </div>  
  </section>
</main>
{% endblock %}
