{% extends 'layouts/app.html' %} {% load static %} {% block title %}BRO clinic - Main{% endblock %} {% block content %}
<style>
  .row.g-4 {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
  }

  .img-fluid-bek {
    height: 400px;
  }

  .img-fluid-dana {
    height: 400px;
  }

  .img-fluid-ars {
    height: 400px;
  }

  @media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 44.33333333%;
    }
}

  .owl-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    &.header-carousel {

      height: 367px;
    }
  }

  .col-lg-6 {
    display:flex;
    justify-content:center;
    width: 50%;
    border-radius:200px;
    &.wow {
      animation-name: fadeIn;
      animation-duration: 1s;
    }

    &.animated {
    }
  }
  
  .img-fluid {
    border-radius:200px;
  }
</style>  

<main>
  <div class="container-fluid bg-primary p-0 mb-5" id="main">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="owl-carousel header-carousel">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/medmed.png' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-4 text-white mb-5">
          Healthy life leads to endless smiles with BRO!
        </h1>
        <div class="row g-4">
          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">20,150</h2>
              <p class="text-light mb-0">Medical Stuff</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">68,589</h2>
              <p class="text-light mb-0">Total Patients</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">64</h2>
              <p class="text-light mb-0">Expert Doctors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="Feautes section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 style="font-size: 30px; margin-top: 20px; margin-bottom: 20px">
              We Are Always Ready to Help You & Your Family
            </h2>
            <img
              src="{% static 'img/section-img.png' %}"
              alt="#"
              style="width: 60px"
            />
            <p style="font-size: 18px; margin: 30px">
              We Are a health clinic BRO committed to your well-being, always ready
              to provide support for you and your family. Our dedicated team is
              here to ensure your health and happiness are our top priorities.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-lg-4 col-12">
          <!-- Start Single features -->
          <div class="single-features">
            <div class="signle-icon">
              <i class="icofont icofont-ambulance-cross"></i>
            </div>
            <h3>Emergency Help</h3>
            <p>
              In times of crisis, swift and effective assistance can make all
              the difference. Our emergency response team is dedicated to
              providing immediate aid and support to those in need. Whether it's
              a medical emergency, natural disaster, or any other urgent
              situation, you can rely on us to be there when it matters most.
            </p>
          </div>
          <!-- End Single features -->
        </div>
        <div class="col-lg-4 col-12">
          <!-- Start Single features -->
          <div class="single-features">
            <div class="signle-icon">
              <i class="icofont icofont-medical-sign-alt"></i>
            </div>
            <h3>Enriched Pharmecy</h3>
            <p>
              At Enriched Pharmacy, we go beyond simply dispensing medications.
              Our team of pharmacists is committed to providing personalized
              care, offering expert advice, and ensuring that you have access to
              the medications and resources you need to manage your health
              effectively. Visit us today and experience the difference that
              Enriched Pharmacy can make in your life.
            </p>
          </div>
          <!-- End Single features -->
        </div>
        <div class="col-lg-4 col-12">
          <!-- Start Single features -->
          <div class="single-features last">
            <div class="signle-icon">
              <i class="icofont icofont-stethoscope"></i>
            </div>
            <h3>Medical Treatment</h3>
            <p>
              When it comes to your health, you deserve the highest quality care
              available. Our experienced team of medical professionals is
              dedicated to providing compassionate and comprehensive treatment
              options tailored to your individual needs. From routine check-ups
              to advanced medical procedures, we are here to support you every
              step of the way on your journey to wellness.
            </p>
          </div>
          <!-- End Single features -->
        </div>
      </div>
    </div>
  </section>

  <section class="choose section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb-5">
            <h2></h2>

            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <!-- Start Choose Left -->
          <div class="choose-left mt-5">
            <h3 id="WhoWeAre">Who We Are</h3>
            <img
              src="{% static 'img/section-img.png' %}"
              alt="#"
              style="width: 50px; margin-bottom: 30px"
            />
            <p>
              At BRO Clinic Inc, we are a dedicated team of healthcare
              professionals committed to providing exceptional medical care and
              personalized services to our patients. Our mission is to promote
              health and wellness, improve quality of life, and empower
              individuals to take control of their well-being.
            </p>
            <p>
              BRO Clinic Inc offers a comprehensive range of medical services
              designed to meet the diverse healthcare needs of our patients. Our
              services include, but are not limited to:
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul class="list">
                  <li><i class="fa fa-caret-right"></i>Preventive Care</li>
                  <li><i class="fa fa-caret-right"></i>Primary Care</li>
                  <li>
                    <i class="fa fa-caret-right"></i>Specialty Consultations
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list">
                  <li><i class="fa fa-caret-right"></i>Diagnostic Testing</li>
                  <li>
                    <i class="fa fa-caret-right"></i>Minor Surgical Procedures
                  </li>
                  <li>
                    <i class="fa fa-caret-right"></i>Chronic Disease Management
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="choose-right">
            {% comment %} <div class="video-image">
              <iframe
                src="https://www.youtube.com/embed/yvxX0XfqJtw?si=F5bGqHFAny1PfZDo"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="margin-top: 50px"
              ></iframe>
            </div>
          </div> {% endcomment %}
          <div class="choose-right">
            <div class="video-image">
              
              <iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/yvxX0XfqJtw?si=F5bGqHFAny1PfZDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="margin-top:50px" height="500px"></iframe>
            </div>
          </div>
          <!-- End Choose Rights -->
        </div>
      </div>
    </div>
  </section>

  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 600px"
      >
        <p class="d-inline-block border rounded-pill py-1 px-4 mb-4 mt-5">
          Services
        </p>
        <h1 id="AboutHealthCare">About Health Care</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            >
              <img
                src="{% static 'img/cardi.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Cardiology</h4>
            <p class="mb-4">
              Cardiology, the intricate study of the heart and its associated
              circulatory system, stands at the forefront of modern medicine.
              With each beat, the heart orchestrates the symphony of life,
              pumping vital oxygen and nutrients throughout the body.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/pul.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Pulmonary</h4>
            <p class="mb-4">
              Pulmonary medicine, also known as pulmonology, is the medical
              specialty focused on the diagnosis, treatment, and prevention of
              conditions affecting the respiratory system, particularly the
              lungs and airways.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/neuro.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Neurology</h4>
            <p class="mb-4">
              Neurology is the medical specialty dedicated to the diagnosis and
              treatment of disorders affecting the nervous system. This complex
              system comprises the brain, spinal cord, nerves, and muscles.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/Orthopedics.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Orthopedics</h4>
            <p class="mb-4">
              Orthopedics, also spelled orthopaedics, is the branch of medicine
              dedicated to the diagnosis, treatment, and prevention of
              conditions related to the musculoskeletal system. This system
              includes bones, joints, muscles, ligaments, tendons.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/dent.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Dental Surgery</h4>
            <p class="mb-4">
              Dental surgery, a specialized branch of dentistry, involves
              surgical procedures aimed at diagnosing, treating, and preventing
              conditions affecting the oral and maxillofacial regions.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/laborat.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Laboratory</h4>
            <p class="mb-4">
              Laboratories play a crucial role in various fields, including
              science, medicine, research, and industry. These facilities are
              equipped with specialized equipment, instruments, and personnel to
              conduct experiments.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 600px"
      >
        <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
        <h1 id="ExpertDoctors">Our Expert Doctors</h1>
      </div>
      <div class="row g-4">

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-dana"
                src="{% static 'img/11.jpg' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Kenzhebaeva</h5>
              <p class="text-primary">Department of Neurology</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >

              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-bek"
                src="{% static 'img/22.png' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Sapash Bekarys</h5>
              <p class="text-primary">Department of Cardiology</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-ars"
                src="{% static 'img/33.jpg' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Tynymov Arsen</h5>
              <p class="text-primary">Department of Dental Surgery</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  
</main>
{% endblock %}
