{% extends 'layouts/app.html' %} {% load static %} {% block title %}BRO clinic - Main{% endblock %} {% block content %}
<style>

  

  .row.g-4 {
    display: flex;
    justify-content: center;
    gap: 1.5rem; 
  }

  .img-fluid-bek {
    height: 400px;
  }

  .img-fluid-dana {
    height: 400px;
  }

  .img-fluid-ars {
    height: 400px;
  }

  @media (min-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 44.33333333%;
    }
}

  .owl-carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    &.header-carousel {

      height: 367px;
    }
  }

  .col-lg-6 {
    display:flex;
    justify-content:center;
    width: 50%;
    border-radius:200px;
    &.wow {
      animation-name: fadeIn;
      animation-duration: 1s;
    }

    &.animated {
    }
  }
  
  .img-fluid {
    border-radius:200px;
  }
</style>  

<main>
  <div class="container-fluid bg-primary p-0 mb-5" id="main">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="owl-carousel header-carousel">
          <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/medmed.png' %}" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-4 text-white mb-5">
          Healthy life leads to endless smiles with BRO!
        </h1>
        <div class="row g-4">
          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">20,150</h2>
              <p class="text-light mb-0">Medical Stuff</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">68,589</h2>
              <p class="text-light mb-0">Total Patients</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="border-start border-light ps-4">
              <h2 class="text-white mb-1" data-toggle="counter-up">64</h2>
              <p class="text-light mb-0">Expert Doctors</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="Feautes section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 style="font-size: 30px; margin-top: 20px; margin-bottom: 20px">
              We Are Always Ready to Help You & Your Family
            </h2>
            <img
              src="{% static 'img/section-img.png' %}"
              alt="#"
              style="width: 60px"
            />
            <p style="font-size: 18px; margin: 30px">
              We Are a health clinic BRO committed to your well-being, always ready
              to provide support for you and your family. Our dedicated team is
              here to ensure your health and happiness are our top priorities.
            </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-lg-4 col-12">
          <div class="single-features">
            <div class="signle-icon">
              <i class="icofont icofont-ambulance-cross"></i>
            </div>
            <h3>Emergency Help</h3>
            <p>When things go wrong, we’re right there! Our emergency team is always ready to jump in and help. Whether it’s medical help, a natural disaster, or any other urgent situation — you can count on us.</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-features">
            <div class="signle-icon">
              <i class="icofont icofont-medical-sign-alt"></i>
            </div>
            <h3>Enriched Pharmecy</h3>
            <p>
              At Enriched Pharmacy, we do more than just hand out prescriptions. Our team of pharmacists is dedicated to offering personalized care, expert advice, and making sure you have the medications and resources you need to take charge of your health. Come visit us today and see the difference Enriched Pharmacy can make for you!
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="single-features last">
            <div class="signle-icon">
              <i class="icofont icofont-stethoscope"></i>
            </div>
            <h3>Medical Treatment</h3>
            <p>
              When it comes to your health, you deserve the best care possible. Our skilled team of medical professionals is committed to offering compassionate, personalized treatment that fits your unique needs. Whether it’s a routine check-up or a complex procedure, we’re here to support you at every step of your path to better health.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="choose section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center mb-5">
            <h2></h2>

            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="choose-left mt-5">
            <h3 id="WhoWeAre">Who We Are</h3>
            <img
              src="{% static 'img/section-img.png' %}"
              alt="#"
              style="width: 50px; margin-bottom: 30px"
            />
            <p>
              At BRO Clinic Inc, we don't just treat, we work miracles! Our team of medical specialists is ready to provide you with not only exceptional care, but also personalized services that will make you healthy and happy. We will help you become the best version of yourself — healthy, energetic and in a great mood!
            </p>
            <p>
              BRO Clinic Inc offers a full range of medical services to meet the various healthcare needs of our patients. From routine care to specialized treatments, our services include (but aren’t limited to):
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul class="list">
                  <li><i class="fa fa-caret-right"></i>Preventive Care</li>
                  <li><i class="fa fa-caret-right"></i>Primary Care</li>
                  <li>
                    <i class="fa fa-caret-right"></i>Specialty Consultations
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list">
                  <li><i class="fa fa-caret-right"></i>Diagnostic Testing</li>
                  <li>
                    <i class="fa fa-caret-right"></i>Minor Surgical Procedures
                  </li>
                  <li>
                    <i class="fa fa-caret-right"></i>Chronic Disease Management
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="choose-right">
            {% comment %} <div class="video-image">
              <iframe
                src="https://www.youtube.com/embed/yvxX0XfqJtw?si=F5bGqHFAny1PfZDo"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen
                style="margin-top: 50px"
              ></iframe>
            </div>
          </div> {% endcomment %}
          <div class="choose-right">
            <div class="video-image">
              
              <iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/yvxX0XfqJtw?si=F5bGqHFAny1PfZDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="margin-top:50px" height="500px"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 600px"
      >
        <p class="d-inline-block border rounded-pill py-1 px-4 mb-4 mt-5">
          Services
        </p>
        <h1 id="AboutHealthCare">About Health Care</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
            >
              <img
                src="{% static 'img/cardi.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Cardiology</h4>
            <p class="mb-4">
              Cardiology, the fascinating study of the heart and its circulatory system, is a key player in modern medicine. Every heartbeat is like a conductor guiding the orchestra of life, pumping oxygen and nutrients to every part of the body.
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/pul.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Pulmonary</h4>
            <p class="mb-4">
              Pulmonary medicine, or pulmonology, is the medical field dedicated to diagnosing, treating, and preventing issues with the respiratory system, especially the lungs and airways. It’s all about helping you breathe easy!
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/neuro.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Neurology</h4>
            <p class="mb-4">
              Neurology is the medical field focused on diagnosing and treating disorders of the nervous system, which includes the brain, spinal cord, nerves, and muscles. It's all about keeping your body's communication network running smoothly!
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="{% url 'articles:article-list' %}"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/Orthopedics.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Orthopedics</h4>
            <p class="mb-4">
              Orthopedics is the branch of medicine focused on diagnosing, treating, and preventing issues with the musculoskeletal system. This includes bones, joints, muscles, ligaments, and tendons—basically everything that keeps you moving and grooving!
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/dent.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Dental Surgery</h4>
            <p class="mb-4">
              Dental surgery, a specialized area of dentistry, focuses on surgical procedures to diagnose, treat, and prevent conditions affecting the mouth, jaw, and face. It’s all about keeping your smile healthy and your bite strong!
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item bg-light rounded h-100 p-5">
            <div
              class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
              style="width: 65px; height: 65px"
            >
              <img
                src="{% static 'img/laborat.png' %}"
                style="width: 65px; height: 65px"
              />
            </div>
            <h4 class="mb-3">Laboratory</h4>
            <p class="mb-4">
              Laboratories are essential in fields like science, medicine, research, and industry. These spaces are equipped with specialized tools, instruments, and skilled staff to carry out experiments and drive discoveries. They’re where the magic of innovation happens!
            </p>
            <a
              class="btn"
              style="background-color: deepskyblue; color: aliceblue"
              href="articles.html"
              >Read More</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl py-5">
    <div class="container">
      <div
        class="text-center mx-auto mb-5 wow fadeInUp"
        data-wow-delay="0.1s"
        style="max-width: 600px"
      >
        <p class="d-inline-block border rounded-pill py-1 px-4">Doctors</p>
        <h1 id="ExpertDoctors">Our Expert Doctors</h1>
      </div>
      <div class="row g-4">

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-dana"
                src="{% static 'img/11.jpg' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Kenzhebaeva</h5>
              <p class="text-primary">Department of Neurology</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >

              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-bek"
                src="{% static 'img/22.png' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Sapash Bekarys</h5>
              <p class="text-primary">Department of Cardiology</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item position-relative rounded overflow-hidden">
            <div class="overflow-hidden">
              <img
                class="img-fluid-ars"
                src="{% static 'img/33.jpg' %}"
                alt=""
              />
            </div>
            <div class="team-text bg-light text-center p-4">
              <h5>Dr. Tynymov Arsen</h5>
              <p class="text-primary">Department of Dental Surgery</p>
              <a class="btn btn-primary" href="{% url 'docs:index' %}"
                >Make an appointment</a
              >
              <div class="team-social text-center">
                <a class="btn btn-square" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-square" href=""
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
  
</main>
{% endblock %}
